* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  padding-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
  background-color: cadetblue;

  h3 {
    font-size: 20px;
  }

  ul {
    display: flex;
    gap: 17px;
    list-style: none;
  }

  .icon {
    display: flex;
    gap: 10px;
  }

  .login {
    display: flex;
    gap: 10px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rebeccapurple;
  padding-inline: 20px;
  padding-block: 20px;
  border-radius: 10px;
  min-width: 256px;
  width: 100%;

  div {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
}
